body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#drop-area {
    background-color: rgba(255, 255, 255, 0.7);
    border: 3px dashed #ccc;
    border-radius: 20px;
    width: 50vw;
    height: 30vh;
    margin: 35vh auto 0 auto;
    font-family: sans-serif;
}

#drop-area.highlight {
    border-color: blue;
}

#form {
    text-align: center;
    margin-top: 13vh;
    font-size: 1.5em;
}

#file {
    display: none;
}

#result-area {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.result-ticket {
    border: 3px dashed #ccc;
    border-radius: 20px;
    width: 300px;
    height: fit-content;
    font-family: sans-serif;
    margin: 20px;
    padding: 5px;
}

.result-ticket.error {
    background-color: rgba(255, 144, 144, 0.7);
    border-color: red;
}

.result-ticket.warning {
    background-color: rgba(255, 255, 86, 0.7);
    border-color: yellow;
}

.result-ticket.success {
    background-color: rgba(100, 255, 100, 0.7);
    border-color: limegreen;
}

.result-ticket .code {
    font-weight: bold;
}

.result-ticket .extra {
    font-style: italic;
    overflow-wrap: anywhere;
}

#download-button {
    position: fixed;
    top: 10px;
    width: 48px;
    height: 48px;
    background-image: url("download.png");
    background-size: cover;
}

#version-info {
    position: fixed;
    top: 10px;
    right: 10px;
    font-family: sans-serif;
}

#upload-button {
    position: fixed;
    top: 10px;
    left: 68px;
    width: 48px;
    height: 48px;
    background-image: url("upload.png");
    background-size: cover;
}

#loader {
    display: none;
    position: fixed;
    width: 80px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.result-ticket.error mark {
    background-color: rgb(255 102 102);
    white-space: pre;
}

.result-ticket.warning mark {
    background-color: rgb(255 255 48);
    white-space: pre;
}